<header>
<h1>Hey Mothafok'!!! Isso é o que vc tem pra fazer!!</h1>
</header>

<!-- tasks = new Tasks()
tasks.reset($('.tasks').get('tasks')) -->

<div class="app">

</div>


<script type="text/template" class="template">
	<div class=task >
		<label>
			<%%= name %>
			<input type="checkbox" value="<%%= name %>" <%%= function(){ if (is_done) return "checked" }() %> />
		</label>
	<div>
</script>