<header>
<h1>Hey Mothafok'!!! Isso é o que vc tem pra fazer!!</h1>
</header>

<!-- tasks = new Tasks()
tasks.reset($('.tasks').get('tasks')) -->

<div class="tasks" > <!-- data-tasks="<%= Task.all.to_json %>" -->
	<div class="todo">
	</div>
	<div class="done">
	</div>
</div>
